html {
	position: relative;
	min-height: 100%;
}

body {
  background:
  	linear-gradient(rgba(30, 120, 149, .8), rgba(30, 120, 149, .8)),
  	url(free-birds.jpg);
  background-size: 100%;
	margin: 0 auto;
}


/*********** HEADER / NAV ***********/

header {
	background-color: rgba(64, 64, 64, .9);
	height: 75px;
	line-height: 75px;
	border: 5px solid rgba(64, 64, 64, .9);
}

header h1 {
	font-family: 'Open Sans', sans-serif;
	color: white;
	text-align: center;
	float: left;
	font-size: 2em;
}

header a {
	text-decoration: none;
}

.nav_element {
	display: inline-block;
	float: right;
	width: 40%;
	text-align: center;
	color: coral;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.25em;
	line-height: 75px;
	height: 75px;
}

.nav_element:hover {
	border-bottom: 5px solid #00CC66;
	color: #00CC66;
}

#active {
	border-bottom: 5px solid #00CC66;
	color: #00CC66;
}


/*********** HOMEPAGE CENTERPIECE ***********/

.dance_container {
	width: 250px;
	height: 250px;
	border-radius: 50%;
	margin: 150px auto;
	color: #00CC66;
	font-family: Consolas,Monaco,'Lucida Console',Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,'Courier New';
	font-size: 2.2em;
	font-weight: 400;
	background-color: rgba(64, 64, 64, .9);
	border: 5px solid rgba(64, 64, 64, .9)
}

#true {
	color: white;
}

#dance {
	color: coral;
}


/*********** BLOG CONTENT ***********/

article a {
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	color: #404040;
}

article a:hover {
	color: #2185A6;
}

.container {
	width: 70%;
	margin: 0 auto;
	background-color: white;
	height: 100%;
}

.centered {
	display: block;
	margin: 0 auto;
}

article {
	font-family: Verdana, Geneva, sans-serif;
	color: #404040;
	background-color: white;
	margin: 0 auto 50px;
	padding: 30px;
	min-height: 400px;
}

.date {
	color: coral;
	margin-top: 300px;
	font-size: .9em;
}

.culture {
	background-color: #00CC66;
	border-radius: 13px;
	color: white;
	padding: 0 5px;
	font-size: .85em;
}

.tech {
	background-color: coral;
	border-radius: 13px;
	color: white;
	padding: 0 15px;
	font-size: .8em;
}

.codeblock {
	text-align: left;
	padding: 10px;
	background-color: #EEEEEE;
	width: 350px;
}

#smallrect {
	background-color: yellowgreen;
	color: yellowgreen;
}

#bigrect {
	height: 40px;
	width: 60px;
	background-color: yellowgreen;
}

#bigrect_inline {
	display: inline-block;
	height: 40px;
	width: 60px;
	background-color: yellowgreen;
}


.need_break {
	padding-bottom: 30px;
	border-bottom: 2px solid coral;
}

.entry_title {
	font-size: 1.2em;
	text-align: center;
}

article p, article h1, article h2, .codeblock, .date {
	margin: 30px 50px;
}

article h1 {
	font-size: 1.5em;
}

article h2 {
	color: #3399cc;
}

code {
  background-color: #EEEEEE;
  font-family: Consolas,"Courier New";
}



/*********** FOOTER ***********/

footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 50px;
	background-color: rgb(64, 64, 64);
	border: 5px solid rgb(64, 64, 64);
}

.icon-alone {
  display: inline-block; /* Chrome 19 was weird with clickability without this */
  color: #00CC66;
  float: right;
  height: 50px;
  width: 100px;
  line-height: 60px;
}

.screen-reader-text { /* Reusable, toolbox kind of class */
  position: absolute;
  top: -9999px;
  left: -9999px;
}



/*********** MEDIA QUERIES ***********/


@media screen and (max-width: 700px) {
  header {
  	height: 125px;
  }
  .header_column {
    float:none;
    width:100%;
    margin:auto;
  }
  .nav_element {
  	width: 50%;
  	line-height: 50px;
	  height: 50px;
  }
  .container {
  	width: 100%;
  }
  .icon-alone {
    float:none;
    width: 33%;
  }
}

@media screen and (min-width: 700px) {
  .header_column {
      float:left;
      width:50%;
  }
}
